.card-name {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 50px;
}
.card-light {
    border: 1px solid black;
    padding: 20px;
    margin: 0 10px;
}
.card-dark {
    border: 1px solid #eaeaea;
    padding: 20px;
    margin: 0 10px;
}
.flex-card {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
}
.flex-card-light {
    color: gray;
}
.flex-card-dark {
    color: #fff;
}
.card-image {
    height: 25px;
    margin: 2px;
}
.card-percentage {
    font-size: 24px;
    font-weight: 500;
    margin: 2px;
}
.flex-per {
    display: flex;
    justify-content: space-between;
}
.buy-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 10px;
    margin-bottom: 20px;
}
.buy-light {
    background-color: #000;
    color: #fff;
}
.buy-dark {
    background-color: #fff;
    color: rgb(15 23 42);
    font-weight: 500;
}
@media only screen and (max-width: 1200px) {
    .card-name {
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 50px;
    }
    .flex-card {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 500;
    }
    .card-percentage {
        font-size: 20px;
        font-weight: 500;
        margin: 2px;
    }
}