.notification-top-bar {
    height: 33px;
    line-height: 33px;
    width: 100%;
    background: #FF7A30;
    text-align: center;
    color: #FFFFFF;
    font-family: sans-serif, system-ui;
    font-weight: normal;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.notification-top-bar a {
    color: #FFFFFF;
    text-decoration: underline;
}
@media only screen and (max-width: 1024px) {
    .notification-top-bar {
        display: none;
    }
}