.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
}
.theme-font {
    font-family: sans-serif, system-ui;
    font-weight: 600;
}
.border-light {
    border-bottom: 2px solid #eaeaea;
}
.border-dark {
    border-bottom: 1px solid #777777;
}